{% extends 'base.html' %}
{% block content %}
  <main class="profile-page layout layout--3">
    <div class="container">
      
      {% include 'home/topic_component.html' %}


      <!-- Room List Start -->
      <div class="roomList">
        <div class="profile">
          <div class="profile__avatar">
            <div class="avatar avatar--large active">
              <img src="{{profile.avatar}}" />
            </div>
          </div>
          <div class="profile__info">
            <h3>
              {% if profile.name %}
                {{profile.name}}
              {% else %}
                {{profile.username}}
              {% endif %}
            </h3>
            <p>@{{profile.username}}</p>
            <a href="{% url 'profile_settings' %}" class="btn btn--main btn--pill">Edit Profile</a>
          </div>
          <div class="profile__about">
            <h3>About</h3>
            <p>
              {{profile.bio}}
            </p>
          </div>
        </div>

        <div class="roomList__header">
          <div>
            {% if rooms %}
            <h2>Study Rooms Hosted by {{profile}}</a>
              {% else %}
            <h2>There are not Study Rooms Hosted by {{profile.username}} </a>
              {% endif %}
            </h2>
          </div>
        </div>
        {% include 'home/room_component.html' %}

      </div>
      <!-- Room List End -->

    <!-- Activities Start -->
    <div class="activities">
      <div class="activities__header">
        <h2>Recent Activities</h2>
      </div>
      {% if not room_messages %}
      <p> No recent activities available. </p>
      {% else %}
      {% for message in room_messages %}
      <div class="activities__box">
        
        <div class="activities__boxHeader roomListRoom__header">
          <a href="{% url 'profile' message.host %}" class="roomListRoom__author">
            <div class="avatar avatar--small">
              <img src="https://randomuser.me/api/portraits/women/11.jpg" />
            </div>
            <p>
              @{{message.host}}
              <span>{{message.created_at | timesince}} ago</span>
            </p>
          </a>
          <div class="roomListRoom__actions">
            <a href="#">
              <svg version="1.1" xmlns="http://www.w3.org/2000/svg" width="32" height="32" viewBox="0 0 32 32">
                <title>remove</title>
                <path
                  d="M27.314 6.019l-1.333-1.333-9.98 9.981-9.981-9.981-1.333 1.333 9.981 9.981-9.981 9.98 1.333 1.333 9.981-9.98 9.98 9.98 1.333-1.333-9.98-9.98 9.98-9.981z">
                </path>
              </svg>
            </a>
          </div>
        </div>
        <div class="activities__boxContent">
          <p>replied to post in <a href="{% url 'room' message.room.id %}">{{message.room}}</a></p>
          <a href="{% url 'room' message.room.id %}">
            <div class="activities__boxRoomContent">
              {{message }} ...
            </div>
          </a>
        </div>
      </div>
      {% endfor %}
      {% endif %}
    </div>
    <!-- Activities End -->
    </div>
  </main>
{% endblock content %}
